body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Text styles */
  text-align: center;
  color: white;
  /* Background styles */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  /* Text styles */
  font-size: 5em;
  /* Margins */
  margin-top: 0;
  margin-bottom: 0.2em;
}
.hero h2 {
  /* Margins */
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0.4em;
  margin-left: 0.4em;
}
.card-title {
  /* Text styles */
  color: #ff7262;
}

.pint-card {
  height: 300px;
  width: 500px;
  position: relative;
  margin: 10px;
}

.pint-card-img {
  border-radius: 25px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pint-overlay {
  background-color: rgba(255,255,255, 0.8);
  border-radius: 35px;
  padding: 10px;
  position: absolute;
}

.pint-price {
  left: 10px;
  bottom: 10px; 
}

.pint-street {
  left: 10px;
  top: 10px; 
}

.pint-favorite {
  right: 10px;
  bottom: 10px; 
}

.pint-contact {
  right: 70px;
  bottom: 10px; 
}

.footer {
  background-color: #f8f9fa;
}

/* footer unvisited link */
.footer a:link {
  color: #6cb1b9;
}

/* footer visited link */
.footer a:visited {
  color:  #6cb1b99f;
  ;
}

.btn.btn-social-icon {
  width: 40px;
  height: 40px;
  padding: 0;
}

.btn.btn-rounded {
  border-radius: 50px;
}

.btn-outline-facebook {
  border: 1px solid #3b579d;
  color: #3b579d;
}

.btn-outline-facebook:hover {
  background: #3b579d;
  color: #ffffff;
}

.btn-outline-twitter {
  border: 1px solid #2caae1;
  color: #2caae1;
}

.btn-outline-instagram {
  border: 1px solid #dc4a38;
  color: #dc4a38;
}

.btn-outline-twitter:hover {
  background: #2caae1;
  color: #ffffff
}

.btn-outline-instagram:hover {
  background: #e52d27;
  color: #ffffff;
}

.btn-facebook {
  background: #3b579d;
  color: #ffffff;
}

.btn-twitter {
  background: #2caae1;
  color: #ffffff;
}

.btn-instagram {
  background: #dc4a38;
  color: #ffffff;
}

.btn-facebook:hover,
.btn-facebook:focus {
  background: #2d4278;
  color: #ffffff;
}

.btn-twitter:hover,
.btn-twitter:focus {
  background: #1b8dbf;
  color: #ffffff;
}

.btn-instagram:hover,
.btn-instagram:focus {
  background: #bf3322;
  color: #ffffff;
}
