body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero h1 {
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0.2em;
}
.hero h2 {
  /* Margins */
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0.4em;
  margin-left: 0.4em;
}
.card-title {
  color: #ff7262;
}
.pint-card {
  height: 300px;
  width: 500px;
  position: relative;
  margin: 10px;
}
.pint-card-img {
  border-radius: 25px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.pint-overlay {
  background-color: rgba(255,255,255, 0.8);
  border-radius: 35px;
  padding: 10px;
  position: absolute;
}
.pint-price {
  left: 10px;
  bottom: 10px; 
}
.pint-street {
  left: 10px;
  top: 10px; 
}
.pint-favorite {
  right: 10px;
  bottom: 10px; 
}
.pint-contact {
  right: 70px;
  bottom: 10px; 
}
.pint-detail {
  height: 600px;
  width: 80vw;
  position: relative;
}
.pint-detail-img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.pint-detail-title {
  font-size: 24px;
  padding: 10px;
}
.pint-detail-text {
  font-size: 18px;
  padding: 10px;
}
.container.about-us {
  color: grey;
}
.footer {
  background-color: #f8f9fa;
  color: grey;
}
.footer a:link {
  color: grey;
}
.footer a:visited {
  color: rgb(100, 94, 94);
}
.footer a:hover {
  color: rgb(65, 62, 62);
}
.btn.btn-social-icon {
  width: 40px;
  height: 40px;
  padding: 0;
}
.btn.btn-rounded {
  border-radius: 50px;
}
.btn-outline-facebook {
  border: 1px solid #3b579d;
  color: #3b579d;
}
.btn-outline-facebook:hover {
  background: #3b579d;
  color: white;
}
.btn-outline-twitter {
  border: 1px solid #2caae1;
  color: #2caae1;
}
.btn-outline-instagram {
  border: 1px solid #dc4a38;
  color: #dc4a38;
}
.btn-outline-twitter:hover {
  background: #2caae1;
  color: white
}
.btn-outline-instagram:hover {
  background: #e52d27;
  color: white;
}
.btn-facebook {
  background-color: #3b579d !important;
  color: white;
}
.btn-twitter {
  background: #2caae1 !important;
  color: white;
}
.btn-instagram {
  background: #dc4a38 !important;
  color: white;
}
.btn-facebook:hover,
.btn-facebook:focus {
  background: #2d4278 !important;
  color: white;
}
.btn-twitter:hover,
.btn-twitter:focus {
  background: #1b8dbf !important;
  color: white;
}
.btn-instagram:hover,
.btn-instagram:focus {
  background: #bf3322 !important;
  color: white;
}
.login-form {
  width: 480px;
  margin: 0 auto;
  padding: 30px 0;
}
.login-form form {
  margin-bottom: 15px;
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.login-form .hint-text {
  color: #777;
  padding-bottom: 15px;
  text-align: center;
}
.form-control {
  font-size: 16px;
  transition: all 0.4s;
}
.form-control:focus {
  border-color: #6cb1b9;
}
.form-control, .btn {
  border-radius: 50px;
  outline: none !important;
}
.sign-form {
  width: 480px;
  margin: 0 auto;
  padding: 30px 0;
}
.sign-form form {
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 10px;
  background: #f7f7f7;
}    
.sign-form h2 {
  text-align: center;
  font-size: 34px;
  margin: 10px 0 15px;
  color: grey;
}
.sign-form .hint-text {
  color: #999;
  text-align: center;
  margin-bottom: 20px;
}
.sign-form .form-group {
  margin-bottom: 20px;
}
.sign-form .btn {        
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}
.sign-btn {
  text-align: center;
  border-color: #6cb1b9;
  transition: all 0.4s;
}
.sign-btn:hover {
  background: #6cb1b99f;
  opacity: 0.8;
}
.login-btn {        
  font-size: 15px;
  font-weight: bold;
}
.or-seperator {
  margin: 50px 0 15px;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}
.or-seperator i {
  padding: 0 10px;
  background: #f7f7f7;
  position: relative;
  top: -11px;
  z-index: 1;
}
.or-seperator b {
  padding: 0 10px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  background: white;
  display: inline-block;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  position: relative;
  top: -22px;
  z-index: 1;
  color: grey;
}
.social-btn .btn {
  color: white;
  margin: 10px 0 0 15px;
  font-size: 15px;
  border-radius: 50px;
  font-weight: normal;
  border: none;
  transition: all 0.4s;
}
.social-btn .btn .fa {
  color:white;
}
.social-btn .btn:first-child {
	margin-left: 0;
}
.social-btn .btn:hover {
  opacity: 0.8;
}
.social-btn .btn-primary {
  background: #507cc0;
}
.social-btn .btn-info {
  background: #64ccf1;
}
.social-btn .btn-danger {
  background: #df4930;
}
.social-btn .btn i {
  float: left;
  margin: 3px 10px;
  font-size: 20px;
}

.btn-social-icon .fa {
  color:white;
}

.input-group-addon .fa {
  font-size: 18px;
}
.fa {
  color: rgb(103, 101, 101);
}
.hint-text a {
  color: #5cb85c;
}
.more-seperator {
  margin: 50px 0 15px;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}
.more-seperator b {
  padding: 0 10px;
  width: 200px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  background: white;
  display: inline-block;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  position: relative;
  top: -22px;
  z-index: 1;
  color: grey;
}
